body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

* {
  cursor: none !important;
  caret-color: transparent;
}
a:hover {
  background-color: blueviolet;
}

.custom-cursor {
  position: absolute;
  width: 45px; /* Přizpůsobte velikost podle potřeby */
  height: 45px; /* Přizpůsobte velikost podle potřeby */
  background: url("./assets/ufo.svg") no-repeat center center;
  background-size: contain;
  pointer-events: none;
  z-index: 1000;
}

p {
  font-size: large;
  font-family: "Segoe UI";
}
.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #000;
  overflow: hidden;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  animation: twinkle 3s infinite ease-in-out alternate;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

.fire-trail {
  position: absolute;
  width: 5px; /* Přizpůsobte velikost podle potřeby */
  height: 5px; /* Přizpůsobte velikost podle potřeby */
  background: orange;
  border-radius: 50%; /* Pro kulatý efekt */
  pointer-events: none;
  z-index: 999; /* Zajistěte, aby byla ohnivá čára nad ostatními prvky */
  animation: fadeOut 0.5s forwards; /* Nastavte animaci pro mizící efekt */
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Pozicování hvězd */

/* Přidejte více hvězd s různými pozicemi a zpožděním animace */
